* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: .9rem;
    scroll-behavior: smooth;
}
:root {
    --white: #fff;
    --grey: #777;
    --dark-col: #333;
    --red-on: #f00;
    --red-off: #400;
    --yellow-on: #fc0;
    --yellow-off: #540;
    --green-on: #2c2;
    --green-off: #243;
}

.module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 35rem;
    gap: 1rem;
    margin: 3rem;
    background: var(--dark-col);
}
.module__light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: var(--grey);
}
.light {
    width: 9.2rem;
    height: 9.2rem;
    position: relative;
    margin: auto;
    border-radius: 50%;
}

.red {
    background: var(--red-off);
}
.red-on {
    background: var(--red-on);
}
.yellow {
    background: var(--yellow-off);
}
.yellow-on {
    background: var(--yellow-on);
}
.green {
    background: var(--green-off);
}
.green-on {
    background: var(--green-on);
}

.btn {
    position: absolute;
    padding: .5rem .8rem;
    font-size: .8rem;
    cursor: pointer;
}
.start {
    top: 640px;
    left: 60px;
}
.offline {
    top: 640px;
    left: 160px;
}