* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: .9rem;
    scroll-behavior: smooth;
}
:root {
    --white: #fff;
    --grey: #777;
    --dark-col: #333;
    --red-on: #f00a;
    --red-on-diffuse: #a00;
    --red-off: #400;
    --red-off-diffuse: #100;
    --yellow-on: #fc0a;
    --yellow-on-diffuse: #c80;
    --yellow-off: #540;
    --yellow-off-diffuse: #320;
    --green-on: #2c2a;
    --green-on-diffuse: #080;
    --green-off: #243;
    --green-off-diffuse: #121;
}

.traffic-lights {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    gap: 4rem;
    width: 30rem;
    height: 36rem;
    border: 2px solid var(--dark-col);
}
.module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 35rem;
    gap: 1rem;
    padding: 1rem;
    background: var(--dark-col);
}
.module__light {
    width: 10rem;
    height: 10rem;
    padding: .6rem 0;
    border-radius: 50%;
    background: var(--grey);
}
.light {
    width: 9.2rem;
    height: 9.2rem;
    position: relative;
    margin: auto;
    border-radius: 50%;
}

.red1, .red2 {
    background: radial-gradient(var(--red-off),var(--dark-col));
}
.red-on {
    background: radial-gradient(var(--red-on),var(--red-on-diffuse));
}
.yellow1, .yellow2 {
    background: radial-gradient(var(--yellow-off),var(--dark-col));
}
.yellow-on {
    background: radial-gradient(var(--yellow-on),var(--yellow-on-diffuse));
}
.green1, .green2 {
    background: radial-gradient(var(--green-off),var(--dark-col));
}
.green-on {
    background: radial-gradient(var(--green-on),var(--green-on-diffuse));
}

.commands {
    position: relative;
    top: 580px;
    left: 90px;
    width: 300px;
    height: 110px;
    border: 2px solid var(--dark-col);
}
.btn {
    position: absolute;
    padding: .5rem .8rem;
    font-size: .8rem;
    cursor: pointer;
}
.start {
    top: 10px;
    left: 50px;
}
.offline {
    top: 10px;
    left: 180px;
}
.test {
    top: 60px;
    left: 50px;
}
.end {
    top: 60px;
    left: 180px;
}